/* HEADER */
header .row{
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #ECFAFB;
  font-family: 'Italianno', cursive;
  font-size: 42px;
}
.logo-container{
  display: flex;
  align-items: center;
}
.logo-container img{
  width: 130px;
}
.menu-list{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1.5s;
}
a{
  color: black;
}
a:hover{
  color: black;
  text-decoration: none;
}
.list-item a{
  padding: 0 5px;
}
.list-item:hover{
  background-color:rgba(0, 0, 0 , 0.3);
}
#languages-choice{
  display: flex;
  align-items: flex-start;
}
#languages-choice a{
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
#languages-choice img{
  width: 20px;
  margin: 0 5px 0;
}

/* MAIN */
/* BLOCCO FOTO */
main .hotel-container{
  background-image: url("img/main-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hotel-container #overlay{
  background-color: rgba(0, 0, 0, 0.2);
}
.hotel-container #overlay h1{
  margin: 0;
  font-size: 120px;
  font-family: 'Italianno', cursive;
  color: white;
  padding: 15%  0;
}

/* BLOCCO OFFERTE SPECIALI */
.special-offers{
  background-color: #81CBC8;
  padding-bottom: 50px;
}
.special-offers h2{
  margin: 0;
  padding-top: 50px;
  font-family: 'Italianno', cursive;
  font-size: 62px;
}
.special-offers img{
  padding: 0 20px;
  transition: transform 0.7s;
}
.special-offers img:hover{
  transform: scale(1.1);
}

/* BLOCCO FORM E CONTATTI */
.form-contacts{
  background-color: #4AA6B5;
}
.form-cnt, .contacts-cnt{
  padding: 50px 2%;
}
.form-cnt h4, .contacts-cnt h4{
  margin-top: 0;
  font-family: 'Italianno', cursive;
  font-size: 40px;
}

/* FORM */
.form-cnt label, .contacts-cnt label{
  padding: 10px 0;
}
.form-cnt input, select, textarea{
  width: 100%;
  height: 30px;
}
.form-cnt #note{
  vertical-align: text-top;
  height: 100px;
}

/* CONTATTI */
.contacts-cnt .contactfield{
  height: 30px;
  font-size: 18px;
}
.contacts-cnt .fa-facebook-square{
  color: #4267B2;
  font-size: 32px;
  line-height: 30px;
}

/* BANNER */
.banner{
  background-color: #81CBC8;
}
.banner .ad{
  display: flex;
  justify-content: center;
  padding: 15px 15px;
}
.banner img{
  max-width: 728px;
  max-height: 90px;
}

/* FOOTER */
footer{
  background-color: #ECFAFB;
}
footer .copyrights{
  padding: 15px 0;
  font-size: 16px;
  font-style: italic;
}
