/* HEADER */
header.container-fluid{
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .riga{
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #ECFAFB;
  font-family: 'Italianno', cursive;
  font-size: 42px;
}
.logo-container{
  display: flex;
  align-items: center;
}
.logo-container img{
  width: 130px;
}
.menu-list{
  width:100%;
  display: flex;
  align-items: center;
}
.list-item{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1.5s;
}
a{
  color: black;
}
a:hover, a:focus{
  color: black;
  text-decoration: none;
}
.list-item a{
  padding: 0 5px;
}
.list-item:hover{
  background-color:rgba(0, 0, 0 , 0.3);
}
.small-menu{
  display: none;
}
#languages-choice{
  display: flex;
  align-items: flex;
  justify-content:
}
#languages-choice a{
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
#languages-choice img{
  width: 20px;
  margin: 0 5px 0;
}

/* MAIN */
/* BLOCCO FOTO */
main .hotel-container{
  background-image: url("img/main-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hotel-container #overlay{
  background-color: rgba(0, 0, 0, 0.2);
}
.hotel-container #overlay h1{
  margin: 0;
  font-size: 120px;
  font-family: 'Italianno', cursive;
  color: white;
  padding: 15%  0;
}

/* BLOCCO OFFERTE SPECIALI */
.special-offers{
  background-color: #81CBC8;
  padding-bottom: 50px;
}
.special-offers h2{
  margin: 0;
  padding-top: 50px;
  font-family: 'Italianno', cursive;
  font-size: 62px;
}
.special-offers img{
  margin-bottom: 20px;
  padding: 0 20px;
  transition: transform 0.7s;
}
.special-offers img:hover{
  transform: scale(1.1);
}

/* BLOCCO FORM E CONTATTI */
.form-contacts{
  background-color: #4AA6B5;
}
.form-cnt, .contacts-cnt{
  padding: 50px 2%;
}
.form-cnt h4, .contacts-cnt h4{
  margin-top: 0;
  font-family: 'Italianno', cursive;
  font-size: 40px;
}

/* FORM */
.form-cnt label, .contacts-cnt label{
  padding: 10px 0;
}
.form-cnt input, select, textarea{
  width: 100%;
  height: 30px;
}
.form-cnt #note{
  vertical-align: text-top;
  height: 100px;
}
.form-cnt button{
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  padding: 10px 20px;
  margin: 15px 0;
  transition: background-color 1s;
}
.form-cnt button:hover{
  background-color: white;
}
/* CONTATTI */
.contacts-cnt .contactfield{
  height: 30px;
  font-size: 14px;
}
.contacts-cnt .fa-facebook-square{
  color: #4267B2;
  font-size: 32px;
  line-height: 30px;
}
.contacts-cnt .social-network{
  margin-bottom: 15px;
}
/* BANNER */
.banner{
  background-color: #81CBC8;
}
.banner .ad{
  display: flex;
  justify-content: center;
  padding: 15px 15px;
}
.banner img{
  max-width: 728px;
  max-height: 90px;
}

/* FOOTER */
footer{
  background-color: #ECFAFB;
}
footer .copyrights{
  padding: 15px 0;
  font-size: 16px;
  font-style: italic;
}

/* PAGINA GALLERY */
body#gallery-page{
  background-color: #4AA6B5;
}
.hotel-gallery{
  background-color: #D6C481;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel-gallery .subgallery-title{
  margin: 5px 0;
  font-size: 50px;
  font-family: 'Italianno', cursive;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.photo-cnt img{
  padding: 20px;
  width: 100%;
  max-height: 250px;
  transition: transform 1s;
}
.photo-cnt img:hover{
  transform: scale(1.1);
}

/* PAGINA PREZZI */
body#price-page{
  background-color: #4AA6B5;
}
.table-price{
  max-width: 1000px;
  margin: 100px auto;
  background: linear-gradient(to right top, #81CBC8, #ECFAFB)
}
.table-price *{
  font-family: 'Italianno', cursive;
  border: 1px solid black;
}
.table-price .table-title{
  font-size: 55px;
}
.table-price .seasons{
  font-size: 40px;
}
.seasons span{
  font-size: 15px;
  font-family: serif;
  border: none;
}
.table-price .room-descr.first{
  border-top: 1px solid black;
}
.table-price .room-descr{
  transition: background-color 1s;
}
.table-price .room-descr:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.table-price .room-descr, .room-price{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-top: none;
  display: flex;
  justify-content: space-between;
}
.table-price .room-price{
  width: 80px;
  border: none;
  border-left: 1px solid black;
}

/* PAGINA LAST-MINUTE */
body#last-minute{
  background-color: #4AA6B5;
}
.last-minute-pic{
  margin: 50px auto 20px;
  max-width: 800px;
}
.last-minute-pic img{
  max-width: 100%;
}
.last-minute-pic h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}
.last-minute-pic p{
  text-align: justify;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  header .riga{
    font-size: 30px;
  }

/* BLOCCO FORM */
.form-cnt, .contacts-cnt{
  padding: 20px 2%;
}
}
@media (max-width: 798px){
  /* HEADER */
  header .riga{
    height: 120px;
  }
  header .menu-list{
    flex-direction: column;
    flex-wrap: wrap;
  }
  header .list-item{
    width: calc(100% / 3);
    height: 50px;
    margin: auto;
  }
  header .list-item.last{
    height: 100px;
  }
  header #languages-choice{
    flex-direction: column;
  }

  /* MAIN */
  /* BLOCCO FOTO */
  .hotel-container #overlay h1{
    font-size: 100px;
    padding: 10%;
  }
}
@media (max-width: 576px) {
  header .menu-list{
    display: none;
  }
  .small-menu{
    display: flex;
    align-self: center;
    font-size: 50px;
  }
  .small-menu .fa-caret-down{
    display: flex;
    align-self: center;
    margin-left: 10px;
    font-size: 40px;
  }
  /* MAIN */
  /* BLOCCO FOTO */
  .hotel-container #overlay h1{
    text-align: center;
    font-size: 60px;
    padding: 10%;
  }

  /* PAGINA PREZZI */
  .table-price .room-descr, .room-price{
    font-size: 13px;
  }
  .table-price .room-price{
    width: 60px;
  }
}
